* {
  margin: 0;
  color: #fff;
}

nav {
    padding-block: 3%;
    display:flex;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
    background-color: black;
    position: -webkit-sticky;
  position: sticky;
  top: 0;;
}

nav a {
    display: flex;
    font-size:small;
    color: #fff;
}

nav a:hover {
    color: aqua;

}

.logo1 {
    display: flex;
    justify-content: center;
    align-content: center;
    size: 20%;
}


@keyframes example {
    0%   {background-color: rgb(255, 132, 2);}
    25%  {background-color: yellow;}
    50% {background-color: rgb(78, 247, 5);}
    100%  {background-color: rgb(14, 208, 238);}
  }
  
  
  h1 {
    padding-block: 5%;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    background-color: rgb(79, 73, 78);
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
    
#cont1 ,#cont2 ,#cont3 ,#cont4 ,#cont5 ,#cont6 ,#cont7 ,#cont8 {
    
    border: 1px solid black;
    border-style:double;
    margin-bottom:30px;
    margin-left: 4%;
    margin-top: 20%;
    text-align: center;
    display: flex;
    padding-left: 2%;
    padding-bottom: 2%;
}

img {
 
    margin-top: 2%;
    width: 30%;
    height: 30%;
    box-shadow: 0 0 2rem 0 rgb(69, 70, 66);
    @media screen and (max-width: 480px) {
        img {
          width: 30%;
          height: 30%;
        }
}
}
.about {
    display: grid;
    justify-content: center;
    align-content: center;
}
.logo {
    padding-left: 40%;
}
.logo:hover {
  transition-property: all;
  object-position: bottom;
}
table {
    margin-left: auto;
  margin-right: auto;
    width: 100%;
    border-width: 5px;
    margin-top: 30%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 5%;
    padding-block: 3%;
    
  }
tr, td {
    padding-left:inherit;
}
  .cof1, p {
    margin-left: 5%;
    margin-top: 5%;
   padding-top: 7%;
  } 

  .cof2, p {
    margin-left: 5%;
    margin-top: 5%;
   padding-top: 7%;
  } 

  .cof3, p {
    margin-left: 5%;
    margin-top: 5%;
   padding-top: 7%;
  } 

  .cof4, p {
    margin-left: 5%;
    margin-top: 5%;
   padding-top: 7%;
  } 
  .cof5, p {
    margin-left: 5%;
    margin-top: 5%;
   padding-top: 7%;
  } 

  .cof6, p {
    margin-left: 5%;
    margin-top: 5%;
   padding-top: 7%;
  } 

  .cof7, p {
    margin-left: 5%;
    margin-top: 5%;
   padding-top: 7%;
  } 
  
  .cof8, p {
    margin-left: 5%;
    margin-top: 5%;
   padding-top: 7%;
  } 

  form {
    display: flex;
    padding-top: 10%;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .bg {
      height: 120vh;
      width: 100%;
      background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
      background-size: 300% 300%;
      animation: color 12s ease-in-out infinite;
    }
  
    @keyframes color{
      0%{
        background-position: 0 50%;
      }
      50%{
        background-position: 100% 50%;
      }
      100%{
        background-position: 0 50%;
      }
    }
  section  {
    margin-right: 5%;
    margin-top: 20%;
    text-align: center;

  }

  .sects {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  }
  .bg1 {
    position: sticky;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
  }

  input {
    color: black;
  }